body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 20px;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    background-color: #F8F8FF;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box; /* Ensures padding and border are included in element's width and height */
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Makes input elements responsive */
}

button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%; /* Button width now adjusts to the form width */
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Adjusted margin to prevent overflow */
    box-sizing: border-box;
    border-radius:10px;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-sizing: border-box;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

tfoot td {
    font-weight: bold;
}

/* Button Container */
#downloadBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 40px auto; /* Centered the button */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    display: block; /* Ensures the button is centered */
    box-sizing: border-box;
    width: fit-content; /* Ensures the button does not exceed form width */
}

/* Button Hover Effect */
#downloadBtn:hover {
    background-color: #45a049;
    transform: scale(1.03);
}

/* Button Focus Effect */
#downloadBtn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    form {
        padding: 30px;
    }
    button {
        width: 100%;
        padding: 10px;
    }
    #downloadBtn {
        margin: 20px auto;
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    form {
        padding: 20px;
    }
    button {
        width: 100%;
        padding: 8px;
    }
    #downloadBtn {
        margin: 20px auto;
        width: 90%;
    }
    input[type="text"], input[type="number"] {
        padding: 6px;
    }
}
